.badge {
  padding: 4px 12px 4px 12px;
  gap: 8px;
  border-radius: 5px;
  opacity: 0px;
}

.design {
  color: #8948f2;
  background: #f2edff;
}
.frontend {
  color: #3ea7ff;
  background: #ebf3ff;
}
.backend {
  color: #ff8370;
  background: #fff2eb;
}
.blockchain {
  color: #ff3ec9;
  background: #ffebf9;
}
.content {
  color: #5ea8c4;
  background: #eff6f8;
}
